@use "variables" as v;
@use "functions" as f;

@mixin article-card($color, $border-color, $font-size: 1rem) {
  color: $color;
  border: f.rem(1) solid $border-color;
  font-size: $font-size;
  text-align: center;
  padding: f.rem(v.$spacing);
}

* {
  box-sizing: border-box;
}

%text {
  color: v.$color-tertiary;
  border-bottom: f.rem(1) solid v.$color-secondary;
}

div {
  border: f.rem(1) solid v.$color-primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: f.rem(v.$spacing);

  > h1 {
    @extend %text;
  }

  > h2 {
    @extend %text;
    padding: 1rem;
    border: f.rem(1) solid v.$color-primary;
  }

  > section {
    &:first-of-type {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      > article:nth-child(odd) {
        @include article-card(
          $color: v.$color-secondary,
          $border-color: v.$color-tertiary
        );
      }
    }
    &:nth-of-type(2) {
      margin-top: f.rem(15);
      width: 100%;
      display: flex;
      justify-content: space-between;
      > div {
        padding: 0;
        width: f.rem(45);
        height: f.rem(45);
        @for $var from 1 to 20 {
          &:nth-child(#{$var}) {
            background-color: darken(v.$color-white, $var * 5%);
            color: lighten(v.$color-black, $var * 5%);
            @if $var == 10 {
              background-color: v.$color-secondary;
              color: v.$color-primary;
            }
          }
        }
        $vals: "1rem" flex-start flex-start 1rem, "2rem" center flex-start 2rem,
          "3rem" flex-start flex-start 3rem;
        @each $classname, $justify, $align, $font-size in $vals {
          &.fs-#{$classname} {
            display: flex;
            justify-content: $justify;
            align-items: $align;
            font-size: $font-size;
          }
        }
      }
    }
    &:last-of-type {
      margin-top: f.rem(v.$spacing);
      width: 100%;
      > article {
        @include article-card(v.$color-tertiary, v.$color-secondary, f.rem(24));
      }
    }
    > article:nth-child(even) {
      width: 100%;
      @include article-card(
        $color: v.$color-primary,
        $border-color: v.$color-tertiary
      );
    }
  }
}
